<div class="rounded-4 w-100 h-100" style="position: relative">
    <div class="d-flex align-items-center mb-2">
      <div class="fs-4 fw-bold">Staff</div>
      <div class="mx-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M4.21948 3.09961C2.46948 3.09961 1.40953 5.01961 2.32953 6.50961L5.09949 10.9396C5.46949 11.5296 5.46949 12.4896 5.09949 13.0796L2.32953 17.5096C1.39953 18.9896 2.46948 20.9196 4.21948 20.9196H14.6695C15.2795 20.9196 16.0795 20.5196 16.4495 20.0296L21.6295 13.1296C22.0895 12.5196 22.1295 11.4896 21.7295 10.8496L17.5495 4.16961C17.1895 3.58961 16.3395 3.11961 15.6595 3.11961H8.65949"
            stroke="#292D32"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div *ngIf="!isEditMode; else editStaffMode" class="fs-4 fw-bold">
        Add New Staff
      </div>
      <ng-template #editStaffMode>
        <div class="fs-4 fw-bold">Edit Staff</div>
      </ng-template>
    </div>
    <div>
      <div class="me-4 mt-5">
        <div class="card p-4 text-start rounded-4">
          <div class="row px-3">
            <div class="col-5">
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input
                  pInputText
                  [(ngModel)]="name"
                  type="text"
                  class="w-90"
                  id="name"
                  placeholder="Enter staff name"
                  tabindex="1"
                />
              </div>
              <div class="mb-3">
                <div>
                    <label for="email" class="form-label">Email</label>
                </div>
                <input
                  pInputText
                  [(ngModel)]="email"
                  type="email"
                  class="w-90"
                  id="email"
                  placeholder="Enter email"
                  tabindex="2"
                />
              </div>
              <div class="my-3 w-90">
                <label for="phoneNumber" class="form-label">Phone Number</label>
                <input
                  pInputText
                  [(ngModel)]="phoneNumber"
                  type="text"
                  class="w-90"
                  id="phoneNumber"
                  placeholder="Enter phone number"
                  tabindex="3"
                />
              </div>
            </div>
            <div class="col-5">
              <div class="mb-3">
                <div>
                  <label for="birthDate" class="form-label">Birth Day</label>
                </div>
                <p-calendar
        [(ngModel)]="birthDate" 
        [showIcon]="true" 
        inputId="buttondisplay" 
        [showOnFocus]="false" />
              </div>
              <div class="mb-3">
                <div>
                    <label for="gender" class="form-label">Gender</label>
                </div>
                <p-dropdown
                  [(ngModel)]="gender"
                  [options]="genders"
                  placeholder="Select gender"
                  tabindex="5"
                ></p-dropdown>
              </div>
              <div class="my-3 w-90">
                <label for="department" class="form-label">Department</label>
                <p-autoComplete
                  [(ngModel)]="selectedDepartment"
                  [dropdown]="true"
                  [suggestions]="filteredDepartments"
                  (completeMethod)="filterDepartment($event)"
                  optionLabel="name"
                  placeholder="Enter department name"
                  tabindex="6"
                ></p-autoComplete>
              </div>
            </div>
          </div>
          <div *ngIf="!isEditMode" class="text-center mt-4">
            <button
              type="button"
              class="btn btn-primary px-5"
              (click)="addStaff()"
            >
              Add Now
            </button>
          </div>
          <div *ngIf="isEditMode" class="text-center mt-4">
            <button
              type="button"
              class="btn btn-primary px-5"
              (click)="updateStaff()"
            >
              Update Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  