<div class="container mt-5">
  <h1 class="text-center mb-4">Class Activity Management System</h1>
  <hr class="mb-4 mx-auto" style="width: 60%;">

  <p class="text-justify">
    In the era of credit-based training becoming increasingly popular in universities, managing class activities through traditional methods is facing significant challenges, especially in terms of efficiency and accuracy. With the aim of modernizing the process, the "Class Activity Management System" was developed to streamline activities such as attendance tracking, notifications, document management, and automated reporting.
  </p>

  <p class="text-justify">
    Specifically designed for the Faculty of Information Technology at Quy Nhon University, the system simplifies the organization of class activities, from assigning academic advisors, managing notifications, to monitoring and evaluating class activity performance. This system not only enhances management efficiency but also provides convenience for students and lecturers in their collective activities.
  </p>

  <p class="text-justify">
    With a user-friendly and modern interface, the system delivers a seamless management experience, contributing to transparency and accuracy in organizing class activities at universities.
  </p>
</div>
