<div class="rounded-4 w-100 h-100" style="position: relative">
  <div class="fs-4 fw-bold mb-2">Role</div>
  <div class="rounded-4 me-4" style="overflow: hidden; height: 90%">
    <div class="table-responsive h-100" style="overflow-y: auto">
      <div class="card">
        <p-table
          #dt2
          [value]="accounts"
          dataKey="id"
          [rows]="10"
          [rowsPerPageOptions]="[10, 25, 50]"
          [loading]="loading"
          [paginator]="true"
          [globalFilterFields]="['username', 'type', 'name']"
          [tableStyle]="{ 'max-width': '100%' }"
        >
          <ng-template pTemplate="caption">
            <div class="flex">
              <p-iconField iconPosition="left" class="ml-auto">
                <p-inputIcon>
                  <i class="pi pi-search"></i>
                </p-inputIcon>
                <input
                  pInputText
                  type="text"
                  (input)="onSearch($event)"
                  placeholder="Search keyword"
                />
              </p-iconField>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th style="width: 25%">Username</th>
              <th style="width: 25%">{{"TYPE" | translate}}</th>
              <th style="width: 25%">{{"NAME" | translate}}</th>
              <th style="width: 25%">{{"ACTION" | translate}}</th>
            </tr>
            <tr>
              <th>
                <p-columnFilter
                  type="text"
                  field="username"
                  placeholder="Search by username"
                  ariaLabel="Filter Username"
                />
              </th>
              <th>
                <p-columnFilter
                  type="text"
                  field="type"
                  placeholder="Search by type"
                  ariaLabel="Filter Type"
                />
              </th>
              <th>
                <p-columnFilter
                  type="text"
                  field="name"
                  placeholder="Search by name"
                  ariaLabel="Filter Name"
                />
              </th>
              <th></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-account>
            <tr>
              <td>{{ account.username }}</td>
              <td>{{ account.type }}</td>
              <td>{{ account.name }}</td>
              <td><div
                class="cursor-pointer"
                data-bs-toggle="modal"
                (click)="openDeleteModal(account.id)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M21 5.98047C17.67 5.65047 14.32 5.48047 10.98 5.48047C9 5.48047 7.02 5.58047 5.04 5.78047L3 5.98047"
                    stroke="#292D32"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M8.5 4.97L8.72 3.66C8.88 2.71 9 2 10.69 2H13.31C15 2 15.13 2.75 15.28 3.67L15.5 4.97"
                    stroke="#292D32"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M18.8499 9.13965L18.1999 19.2096C18.0899 20.7796 17.9999 21.9996 15.2099 21.9996H8.7899C5.9999 21.9996 5.9099 20.7796 5.7999 19.2096L5.1499 9.13965"
                    stroke="#292D32"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M10.3301 16.5H13.6601"
                    stroke="#292D32"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M9.5 12.5H14.5"
                    stroke="#292D32"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div></td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="4">{{"NO_ACCOUNT_FOUND" | translate}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">{{"COMFIRM_DELETE" | translate}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{"DELETE_ITEM" | translate}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{"NO" | translate}}</button>
        <button type="button" class="btn btn-danger" (click)="confirmDelete()">{{"YES" | translate}}</button>
      </div>
    </div>
  </div>
</div>