<div class="rounded-4 w-100 h-100" style="position: relative">
  <div *ngIf="!isMyClass" class="fs-4 fw-bold mb-2">
    {{ "CLASS" | translate }}
  </div>
  <div *ngIf="isMyClass" class="fs-4 fw-bold mb-2">
    {{ "MY_CLASS" | translate }}
  </div>
  <div class="mb-2 d-flex justify-content-between">
    <div class="col-md-5">
      <app-search-input
        [placeholder]="'SEARCH' | translate"
        (search)="onKeywordChange($event)"
      >
      </app-search-input>
    </div>
    <div class="d-flex me-4" *ngIf="!isMyClass">
      <button
        class="btn btn-outline-primary me-2 d-flex align-items-center justify-content-center"
        style="border-width: 1px"
        data-bs-toggle="modal"
        data-bs-target="#filterModal"
      >
        <svg
          fill="currentColor"
          width="24px"
          height="24px"
          viewBox="-5.5 0 32 32"
          version="1.1"
          class="bi bi-funnel-fill me-2"
        >
          <title>{{ "FILTER" | translate }}</title>
          <path
            d="M8.48 25.72c-0.16 0-0.32-0.040-0.44-0.12-0.24-0.16-0.4-0.44-0.4-0.72v-8.72l-7.48-8.48c-0.2-0.24-0.28-0.6-0.12-0.88s0.44-0.48 0.76-0.48h19.8c0.32 0 0.64 0.2 0.76 0.48 0.12 0.32 0.080 0.64-0.12 0.92l-7.8 8.8v6.32c0 0.32-0.2 0.6-0.48 0.76l-4.080 2c-0.080 0.080-0.24 0.12-0.4 0.12zM2.64 7.96l6.48 7.32c0.12 0.16 0.2 0.36 0.2 0.56v7.64l2.4-1.2v-6.080c0-0.2 0.080-0.4 0.2-0.56l6.8-7.68c0.040 0-16.080 0-16.080 0z"
          />
        </svg>
        {{ "FILTER" | translate }}
      </button>

      <button
        *ngIf="authService.checkPermissions('CREATE_CLASS')"
        type="button"
        class="me-2 btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#csvUploadModal"
      >
        {{ "ADD_BY_XLSX" | translate }}
      </button>
      <button
        *ngIf="authService.checkPermissions('CREATE_CLASS')"
        type="button"
        class="btn btn-primary"
        (click)="navigateAddClass()"
      >
        {{ "ADD_CLASS" | translate }}
      </button>
    </div>
  </div>
  <div class="rounded-4 me-4" style="overflow: hidden; height: 400px">
    <div class="table-responsive mh-75" style="overflow-y: auto">
      <table class="table table-hover table-borderless align-middle">
        <thead class="table-light">
          <tr>
            <th>ID</th>
            <th>{{ "CLASS_NAME" | translate }}</th>
            <th>{{ "BATCH_NAME" | translate }}</th>
            <th>{{ "DEPARTMENT_NAME" | translate }}</th>
            <th>{{ "DURATION_YEAR" | translate }}</th>
            <th>{{ "CREATE_AT" | translate }}</th>
            <th>{{ "UPDATE_AT" | translate }}</th>
            <th>{{ "ACTION" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let class of classes">
            <td>{{ class.id }}</td>
            <td>{{ class.name }}</td>
            <td>{{ class.courseName }}</td>
            <td>{{ class.departmentName }}</td>
            <td>{{ class.durationYears }}</td>
            <td>{{ class.createdAt | date : "MM/dd/yyyy" }}</td>
            <td>{{ class.updatedAt | date : "MM/dd/yyyy" }}</td>
            <td>
              <div class="d-flex">
                <div class="me-2 cursor-pointer" (click)="detailClass(class)">
                  <img src="assets/icons/eye.svg" alt="eye" />
                </div>
                <div
                  class="me-2 cursor-pointer"
                  *ngIf="
                    !isMyClass && authService.checkPermissions('UPDATE_CLASS')
                  "
                  (click)="editClass(class)"
                >
                  <img src="assets/icons/pen.svg" alt="pen" />
                </div>
                <div
                  class="cursor-pointer"
                  data-bs-toggle="modal"
                  *ngIf="
                    !isMyClass && authService.checkPermissions('DELETE_CLASS')
                  "
                  (click)="openDeleteModal(class.id)"
                >
                  <img src="assets/icons/bin.svg" alt="bin" />
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div
    class="pagination-container d-flex w-100 justify-content-between"
    style="position: absolute; bottom: 0; padding: 10px 10px 0 0"
  >
    <div class="d-flex align-items-center">
      {{ "TOTAL_RECORD_COUNT" | translate }}: {{ totalRecords }}
    </div>
    <div  *ngIf="!isMyClass"><p-paginator
      (onPageChange)="onPageChange($event)"
      [rows]="rows"
      [first]="first"
      [totalRecords]="totalRecords"
      [rowsPerPageOptions]="[7, 10, 30, 50]"
    /></div>
  </div>
</div>

<div
  class="modal fade"
  id="filterModal"
  #filterModal
  tabindex="-1"
  aria-labelledby="filterModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filterModalLabel">
          {{ "SELECT_FILTER" | translate }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div *ngIf="isRoleAdmin()">
          <label for="department" class="form-label">{{
            "DEPARTMENT" | translate
          }}</label>
          <div class="mb-3">
            <p-autoComplete
              [(ngModel)]="selectedDepartment"
              [dropdown]="true"
              [suggestions]="filteredDepartments"
              placeholder="Select Department"
              (completeMethod)="
                filterGeneric($event, 'departments', 'filteredDepartments')
              "
              optionLabel="name"
            />
          </div>
        </div>
        <label for="course" class="form-label">{{ "BATCH" | translate }}</label>
        <div class="mb-3">
          <p-autoComplete
            [(ngModel)]="selectedCourse"
            [dropdown]="true"
            placeholder="Select Batch"
            [suggestions]="filteredCourses"
            (completeMethod)="
              filterGeneric($event, 'courses', 'filteredCourses')
            "
            optionLabel="name"
          />
        </div>
        <p class="text-muted">{{ "CAN_CHOOSE_MUITIPLE_FILTER" | translate }}</p>
        <button
          type="button"
          class="btn btn-primary w-100"
          (click)="onSelectedFilter()"
        >
          {{ "APPLY_NOW" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<app-confirm-delete-modal
  modalId="deleteModal"
  [title]="'CONFIRM_DELETE' | translate"
  [message]="'DELETE_ITEM' | translate"
  [itemId]="itemIdToDelete"
  [deleteFn]="deleteClass"
  (done)="loadClasses({ page: page, rows: rows })"
>
</app-confirm-delete-modal>

<app-upload-modal
  modalId="csvUploadModal"
  [title]="'UPLOAD_FILE_FOR_CLASS' | translate"
  [templateUrl]="'http://localhost:8000/AMQNU/api/classes/download-template'"
  [uploadFn]="uploadClass"
  (finished)="loadClasses({ page: page, rows: rows })"
>
</app-upload-modal>
