<div class="container py-4">
  <div class="d-flex align-items-center h-10 mb-2">
    <div class="fs-4 fw-bold mb-2">
        {{"CLASS_ACTIVITY" | translate}}
    </div>
    <div class="mx-2">
        <img src="assets/icons/arrow.svg" alt="Arrow" />
    </div>
    <div class="fs-4 fw-bold mb-2">
      {{"MODIFY_ACTIVITY_TIME" | translate}}
  </div>
</div>
    <div class="card shadow-sm rounded-4 me-4">
      <div class="card-body">
          <div class="row mb-3">
            <label for="id" class="col-sm-2 col-form-label fw-bold">ID:</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" id="id" [value]="activity?.id" disabled>
            </div>
          </div>
  
          <div class="row mb-3">
            <label for="className" class="col-sm-2 col-form-label fw-bold">{{"CLASS_NAME" | translate}}:</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" id="className" [value]="activity?.className" disabled>
            </div>
          </div>
  
          <div class="row mb-3">
            <label for="leader" class="col-sm-2 col-form-label fw-bold">{{"LEADER" | translate}}:</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" id="leader" [value]="activity?.leader" disabled>
            </div>
          </div>
  
          <div class="row mb-3">
            <label for="calendar-timeonly" class="col-sm-2 col-form-label fw-bold">{{"ACTIVITY_TIME" | translate}}:</label>
            <div class="col-sm-10 d-flex align-items-center">
              <p-calendar 
                inputId="calendar-timeonly" 
                [(ngModel)]="time" 
                [timeOnly]="true" >
              </p-calendar>
            </div>
          </div>
  
          <div class="row mb-3">
            <label for="status" class="col-sm-2 col-form-label fw-bold">{{"STATUS" | translate}}:</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" id="status" [value]="activity?.status" disabled>
            </div>
          </div>
  
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-success me-2" (click)="saveTime()">
              <i class="bi bi-save"></i> {{"SAVE_TIME" | translate}}
            </button>
            <a class="btn btn-secondary" (click)="back()">
              <i class="bi bi-arrow-left"></i> {{"BACK" | translate}}
            </a>
          </div>
          
      </div>
    </div>
  </div>
  