<div class="rounded-4 w-100 h-100" style="position: relative">
  <div class="fs-4 fw-bold mb-2">Class Activity</div>
  <div class="mb-2 d-flex justify-content-between">
    <div class="col-md-5">
      <div class="input-group">
        <input
          class="form-control border"
          #searchInput
          style="border-radius: 0.375rem"
          type="search"
          placeholder="Search"
        />
        <span class="input-group-append">
          <button
            class="btn hvnone btn-outline-secondary bg-white border-start-0 border ms-n5"
            style="
              border-radius: 0 0.375rem 0.375rem 0;
              transform: translateX(-97%);
            "
            type="button"
          >
            <i class="bi bi-search"></i>
          </button>
        </span>
      </div>
    </div>

    <div class="d-flex me-4">
      <button
        *ngIf="!isActive('/my-class')"
        class="btn btn-outline-primary d-flex align-items-center justify-content-center"
        style="border-width: 1px"
        data-bs-toggle="modal"
        data-bs-target="#filterModal"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          width="24px"
          height="24px"
          viewBox="-5.5 0 32 32"
          version="1.1"
          class="bi bi-funnel-fill me-2"
        >
          <title>filter</title>
          <path
            d="M8.48 25.72c-0.16 0-0.32-0.040-0.44-0.12-0.24-0.16-0.4-0.44-0.4-0.72v-8.72l-7.48-8.48c-0.2-0.24-0.28-0.6-0.12-0.88s0.44-0.48 0.76-0.48h19.8c0.32 0 0.64 0.2 0.76 0.48 0.12 0.32 0.080 0.64-0.12 0.92l-7.8 8.8v6.32c0 0.32-0.2 0.6-0.48 0.76l-4.080 2c-0.080 0.080-0.24 0.12-0.4 0.12zM2.64 7.96l6.48 7.32c0.12 0.16 0.2 0.36 0.2 0.56v7.64l2.4-1.2v-6.080c0-0.2 0.080-0.4 0.2-0.56l6.8-7.68c0.040 0-16.080 0-16.080 0z"
          />
        </svg>
        Filter
      </button>
      
    </div>
  </div>
  <div class="rounded-4 me-4" style="overflow: hidden; height: 400px">
    <div class="table-responsive mh-75" style="overflow-y: auto">
      <table class="table table-hover table-borderless align-middle">
        <thead class="table-light">
          <tr>
            <th>Class Name</th>
            <th>Leader</th>
            <th>Activity Time</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of classActivityList">
            <td>{{ item.className }}</td>
            <td>{{ item.leader }}</td>
            <td>{{ item.activityTime | date : "short" }}</td>
            <td>
              <p-tag
                [value]="item.status"
                [severity]="getSeverity(item.status)"
              />
            </td>
            <td>
              <div class="d-flex">
                <div
                  class="me-2 cursor-pointer"
                  *ngIf="isActive('/my-class')"
                  (click)="navigateAttendance(item.id)"
                >
                  <i
                    class="bi-person-check pi"
                    style="color: #292d32; font-size: 24px"
                  ></i>
                </div>
                <div
                  class="me-2 cursor-pointer"
                  *ngIf="!isActive('/my-class')"
                  (click)="navigateAttendanceAdmin(item.id)"
                >
                  <i
                    class="bi-person-check pi"
                    style="color: #292d32; font-size: 24px"
                  ></i>
                </div>
                <div
                  class="me-2 cursor-pointer"
                  *ngIf="isActive('/my-class') && isPlanned(item.status) && (isRoleDepartment() || authService.checkPermissions('SET_TIME'))"
                  (click)="navigateToTime(item.id)"
                >
                  <i
                    class="pi-clock pi"
                    style="color: #292d32; font-size: 24px"
                  ></i>
                </div>

                <div
                  class="me-2 cursor-pointer"
                  (click)="navigateToDetail(item.id)"
                  *ngIf="isActive('/my-class') && (isRoleDepartment() || authService.checkPermissions('UPDATE_ACTIVITY'))"
                >
                  <i
                    class="bi bi-pencil-square"
                    style="color: #292d32; font-size: 24px"
                  ></i>
                </div>
                <div class="me-2 cursor-pointer" 
                *ngIf="!isActive('/my-class')"
                (click)="navigateActivityView(item.classId)"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-eye-check"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                    <path
                      d="M11.102 17.957c-3.204 -.307 -5.904 -2.294 -8.102 -5.957c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6a19.5 19.5 0 0 1 -.663 1.032"
                    />
                    <path d="M15 19l2 2l4 -4" />
                  </svg>
                </div>
                <div
                  class="me-2 cursor-pointer"
                  (click)="navigateToDetailAdmin(item.id)"
                  *ngIf="!isActive('/my-class')"
                >
                <i
                class="pi-file pi"
                style="color: #292d32; font-size: 24px"
              ></i>
                </div>
                <div
                *ngIf="isActive('/my-class')"
                  class="me-2 cursor-pointer"
                  (click)="activityDetail(item.activityId, item.id)"
                >
                  <i
                    class="pi-file pi"
                    style="color: #292d32; font-size: 24px"
                  ></i>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div
    class="pagination-container d-flex w-100 justify-content-between"
    style="position: absolute; bottom: 0; padding: 10px 10px 0 0"
  >
    <div class="d-flex align-items-center">
      Total record count: {{ totalRecords }}
    </div>
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [rows]="rows"
      [first]="first"
      [totalRecords]="totalRecords"
      [rowsPerPageOptions]="[7, 10, 30, 50]"
    />
  </div>
</div>

<div
  class="modal fade"
  id="filterModal"
  #filterModal
  tabindex="-1"
  aria-labelledby="filterModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filterModalLabel">Select Filter</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <label for="department" class="form-label mb-0">Department</label>
        <div class="mb-3">
          <p-autoComplete
            [(ngModel)]="selectedDepartment"
            [dropdown]="true"
            [suggestions]="filteredDepartments"
            placeholder="Select Department"
            (completeMethod)="filterDepartment($event)"
            optionLabel="name"
          />
        </div>
        <label for="course" class="form-label mb-0">Batch</label>
        <div class="mb-3">
          <p-autoComplete
            [(ngModel)]="selectedCourse"
            [dropdown]="true"
            placeholder="Select Batch"
            [suggestions]="filteredCourses"
            (completeMethod)="filterCourse($event)"
            optionLabel="name"
          />
        </div>
        <label for="classes" class="form-label mb-0">Class</label>
        <div class="mb-3">
          <p-autoComplete
            [(ngModel)]="selectedClass"
            [dropdown]="true"
            placeholder="Select Class"
            [suggestions]="filteredClasses"
            (completeMethod)="filterClass($event)"
            optionLabel="name"
          />
        </div>
        <label for="classes" class="form-label mb-0">Status</label>
        <div class="mb-3">
          <p-multiSelect
            [options]="status"
            [(ngModel)]="selectedStatus"
            placeholder="Select Status"
            optionLabel="name"
            display="chip"
            styleClass="w-100 md-w-80"
          />
        </div>
        <label for="classes" class="form-label mb-0">Activity</label>
        <div class="mb-3">
          <p-autoComplete
            [(ngModel)]="selectedActivity"
            [dropdown]="true"
            placeholder="Select Activity"
            [suggestions]="filteredActivities"
            (completeMethod)="filterActivity($event)"
            optionLabel="name"
          />
        </div>
        <p class="text-muted">*You can choose multiple filters</p>
        <button
          type="button"
          class="btn btn-primary w-100"
          (click)="onSelectedFilter()"
        >
          Apply Now
        </button>
      </div>
    </div>
  </div>
</div>
